.register-form {
    text-align: center;
    &__title {
        display: block;
        margin-bottom: 12px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 20px;
        line-height: calc(23 / 20);
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    &__group {
        margin-bottom: 10px;
    }
    &__wrap {
        position: relative;
        display: block;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__label {
        display: block;
        text-align: left;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        /* identical to box height */
        letter-spacing: 0.01em;
        color: #757575;
    }
    &__input,
    &__message {
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        padding: 10px;
        padding-left: 50px;
        border-radius: 4px;
        outline: transparent;
        &:focus,
        &:hover {
            border: 1px solid var(--accent-cl);
            background-color: transparent;
            cursor: pointer;
        }
    }
    &__message {
        padding-top: 12px;
        padding-left: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        height: 120px;
        resize: none;
        &:focus,
        &:hover {
            border: 1px solid var(--accent-cl);
            background-color: transparent;
            cursor: pointer;
        }
    }
    &__item {
        position: relative;
        &:hover &__input,
        &:focus-within &__input {
            border-color: var(--accent-cl);
            transition: border-color var(--anim);
            cursor: pointer;
        }
        &:hover &__icon,
        &:focus-within &__icon {
            fill: var(--accent-cl);
            transition: fill var(--anim);
            cursor: pointer;
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 15px;
        width: 18px;
        height: 18px;
        transform: translateY(-50%);
        transition: fill var(--anim);
        &:focus,
        &:hover {
            fill: var(--accent-cl);
            background-color: transparent;
            cursor: pointer;
        }
    }
    &__agreement {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 30px;
        cursor: pointer;
        &-text {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: calc(24 / 14);
            letter-spacing: 0.03em;
            color: #757575;
            user-select: none;
            text-underline-position: under;
        }
        &-link {
            color: var(--accent-cl);
        }
    }
    .register-icon-uncheck,
    .register-icon-check {
        width: 16px;
        height: 15px;
    }
    .register-checkbox:checked+.register-icon .register-icon-uncheck {
        opacity: 0;
        transition: opacity var(--anim);
    }
    .register-icon-check {
        opacity: 0;
        fill: var(--accent-cl);
        transition: opacity var(--anim);
    }
    .register-icon-check:focus,
    .register-icon-check:hover {
        fill: var(--accent-cl);
        transition: fill var(--anim);
        cursor: pointer;
    }
    .register-checkbox:checked+.register-icon .register-icon-check {
        opacity: 1;
    }
    &__btn {
        display: inline-flex;
        align-items: center;
        text-align: center;
        padding: 10px 56px;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        letter-spacing: 0.06em;
        color: #ffffff;
        background-color: var(--accent-cl);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        transition: opacity var(--anim);
        &:focus,
        &:hover {
            background-color: #188ce8;
            transition: background-color var(--anim);
            cursor: pointer;
        }
    }
}